body {
  text-align: center;
}

nav {
  background-color: hsl(341, 56%, 28%);
}

a:hover {
  border-radius: 0.25rem;
  background-color: hsl(341, 56%, 18%);
}

#navbarLogo {
  vertical-align: middle;
  text-align: center;
  width: 4rem;
  height: 4rem;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer {
  color: grey;
  padding-top: 1rem;
}

/*
:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.frame {
  position: relative;
  width: 1440px;
  height: 119px;
  margin: 0 0 0 0;
  background: #882346;
  overflow: hidden;
}
.frame-1 {
  position: absolute;
  width: 440px;
  height: 102px;
  top: 2px;
  left: 118px;
  z-index: 4;
  overflow: hidden;
}
.bulldog-logo {
  position: absolute;
  width: 103px;
  height: 102px;
  top: 0;
  left: 0;
  background: url(./assets/images/ad7d442fbd4ccf16bee9d0022ebeae2381426abd.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.brooklyn-college {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 42px;
  left: 103px;
  color: #ffffff;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 37px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.nutrition {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 63px;
  left: 1024px;
  color: #ffffff;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 64px;
  left: 928px;
  color: #ffffff;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 64px;
  left: 1176px;
  color: #ffffff;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.flex-row-e {
  position: relative;
  width: 1336px;
  height: 39px;
  margin: 12px 0 0 44px;
  z-index: 15;
}
.rectangle {
  position: absolute;
  width: 354px;
  height: 39px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 7;
  border-radius: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}
.buona-journata-halal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 9px;
  left: 17px;
  color: #000000;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.rectangle-2 {
  position: absolute;
  width: 181px;
  height: 39px;
  top: 0;
  left: 388px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 9;
  border-radius: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}
.kinky-taco {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 9px;
  left: 29px;
  color: #000000;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.rectangle-3 {
  position: absolute;
  width: 201px;
  height: 39px;
  top: 0;
  left: 603px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 11;
  border-radius: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}
.moshes-falafel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 9px;
  left: 29px;
  color: #000000;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.rectangle-4 {
  position: absolute;
  width: 221px;
  height: 39px;
  top: 0;
  left: 850px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 13;
  border-radius: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}
.jainnettos-pizza {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 10px;
  left: 34px;
  color: #000000;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.rectangle-5 {
  position: absolute;
  width: 223px;
  height: 39px;
  top: 0;
  left: 1113px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 15;
  border-radius: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}
.wafels-dingers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 11px;
  left: 15px;
  color: #000000;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 23px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.frame-6 {
  position: relative;
  width: 1053px;
  height: 40px;
  margin: 40px 0 0 50px;
  z-index: 17;
  overflow: hidden;
}
.frame-7 {
  position: relative;
  width: 233px;
  height: 40px;
  margin: 0 0 0 527px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
  border: none;
}
*/