body {
  text-align: center;
}

nav {
  background-color: hsl(341, 56%, 28%);
}

a:hover {
  border-radius: 0.25rem;
  background-color: hsl(341, 56%, 18%);
}

#aboutTxt {
  padding: 1rem;
  text-align: start;
  text-indent: 3%;
  font-size: 18px;
}

#navbarLogo {
  vertical-align: middle;
  text-align: center;
  width: 4rem;
  height: 4rem;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer {
  color: grey;
  padding-top: 1rem;
}
