nav {
  background-color: hsl(341, 56%, 28%);
}
.carousel-item {
  height: 450px;
  bottom: 300px;
}
.sliderBtn {
  position: absolute;
  bottom: 23%;
  border: none;
  width: 30px;
}
.previous {
  left: 19%;
}
.next {
  right: 18%;
}

a:hover {
  border-radius: 0.25rem;
  background-color: hsl(341, 56%, 18%);
}
